@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format('woff2'), url(../fonts/NotoSansKR-Thin.woff) format('woff'), url(../fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'), url(../fonts/NotoSansKR-Light.woff) format('woff'), url(../fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'), url(../fonts/NotoSansKR-Regular.woff) format('woff'), url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'), url(../fonts/NotoSansKR-Medium.woff) format('woff'), url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'), url(../fonts/NotoSansKR-Bold.woff) format('woff'), url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'), url(../fonts/NotoSansKR-Black.woff) format('woff'), url(../fonts/NotoSansKR-Black.otf) format('opentype');
}
* {
  outline: none;
}
*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans KR', dotum, sans-serif;
  color: #7d7d7d;
}
header {
  width: 100%;
  min-width:1026px;  
  margin:0 auto;
  height: 150px;
  background: #f8f8f8;
  border-bottom: 1px solid #E3E3E3
}
#header_cont {
  width:100%;
  max-width:1900px;
  margin: 0 auto;
}
header h1 {
  float: left;
  margin: 48px 0 0 20px;
  line-height: 1.5;
}
header h2 {
  display: inline-block;
  margin: 57px 0 57px 20px;  
  padding-left:20px;
  font-size: 36px;
  color: #538fc7;
  border-left: 2px solid #7d7d7d;
}
header h1 a {
  font-size: 36px;
  font-weight: bold;
  color: #538fc7;  
}
header h1 a i {
  margin-right:8px;
}
header #header_cont .adminmn {
  position: relative;
  float: right;
  width: 140px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.adminmn {
  /* Size & position */
  position: relative;
  width: 140px;
  margin: 0;
  font-size: 22px;
  color: #538fc7;
  cursor: pointer;
}
.adminmn i {
  margin-right: 10px;
}
.adminmn .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid #f8f8f8;
  border-top: none;
  border-bottom: none;
  list-style: none;
  /* Hiding */
  max-height: 0;
  overflow: hidden;
}
.adminmn .dropdown li {
  padding: 0 10px;
  line-height: 20px;
  text-align: left;
}
.adminmn .dropdown li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #538FC7;
  padding: 10px 15px;
  border-bottom: 1px solid #e6e8ea;
}
.adminmn .dropdown li:last-of-type a {
  border: none;
}
.adminmn .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}
section {
  min-width:1026px;
  width:100%;
  max-width:1920px;
  padding:0 20px;
}

/* 홈 */
#index {
  margin: 150px auto;
  overflow:hidden;
}
#index .menu {
  width:720px;
  margin: 0 auto;
  text-align: center;
}
#index .menu li {
  float:left;
  margin:10px 5px;
}
#index .menu li a {
  display: block;
  position: relative;
  width: 350px;
  height: 200px;
  color:#ffffff;  
  background: #b2c5e5;
  border-radius: 8px;

}
#index .menu li a i {
  line-height:190px;
  font-size:70px;
  transition: all 0.4s ease-in 0.1s   
}
#index .menu li a span {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size:18px;
  font-weight: bold;  
}
#index .menu .hover a {
  background: #80A0D5;
  
}
#index .menu .hover a i {  
  font-size:85px;
  transition: all 0.4s ease-in-out 0.1s;
}
#index .menu .active a {
  background: #28436E;
}
#index.managepage > .menu {
  width:1080px
}
#contents {
  width:100%;
  max-width:1900px;
  min-width:1026px;
  margin: 30px auto 0;
  padding:0 20px;
  line-height: 1.5;
}
.page_tit {
	position:relative;
	height:40px;
	margin-bottom:40px;
}
.page_tit::after {
	display:block;
	content:'';
	clear:both;
}
.page_tit h3 {
	float:left;
	font-size:28px;
	
}
.page_tit h3>span {
	margin-left:10px;
	font-size:18px;
}

#tab01 {
	margin-bottom:20px;
}
#tab01:before {
	content:'';
	display:block;
	clear:both;
}
#tab01:after {
	content:"";
	display:block;
	clear:both;
}
#tab01 ul li {
	float:left;
	margin-right:50px;
}
#tab01 ul li a {
	font-size:14px;
	color:#7d7d7d
}
#tab01 ul .on a {
	border-bottom:2px solid #538fc7;
	color:#538fc7;
}

/* 기본테이블 */
.basic_tbl {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
.basic_tbl td {
	font-size:14px;
	padding:10px 10px;
	color:#7D7D7D;
	border-bottom:1px solid #F8F8F8;
	vertical-align:middle;
}
.ptcolor {
	color:#538FC7 !important;
}
.basic_tbl th {
	font-size:14px;
	text-align:left;
	padding:10px 10px;
	color:#7D7D7D;
	background:#F8F8F8;
}
.basic_tbl tr:hover td {
	background:#80A0D5;
	color:#fff;
}
.basic_tbl tr:hover .yellow {
  color:#FDFFD9 !important;
  font-weight: bold;
}

/* 그라데이션있는 테이블 */
.listPaging {
  width: 100%;
  text-align: right;
  margin-bottom: 5px;
}
.listPaging ol {
  overflow: hidden;
}
.listPaging ol li {
  display:inline-block;
  margin-left: 2px;
}
.listPaging ol li a {
  display: block;
  padding: 5px;
  font-size: 14px;
  color: #7d7d7d;

  background: #F8F8F8;
  border-radius: 4px;
  border: 1px solid #E3E3E3;
}
.listPaging ol li.on a {
  color: #ffffff;
  background: #538FC7;
  border: 1px solid #538FC7;
}
.listPaging ol li.next a,
.listPaging ol li.prev a {
  color: #e3e3e3;
}
.gradientTable {
  border-radius: 8px;
  width:100%;
  padding: 0 10px 10px;
  background: #28436e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #28436e 0%, #5674a4 52%, #80a0d5 98%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #28436e 0%, #5674a4 52%, #80a0d5 98%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #28436e 0%, #5674a4 52%, #80a0d5 98%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28436e', endColorstr='#80a0d5', GradientType=0);
  /* IE6-9 */  
}
.gradientTable table {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
.gradientTable th {
  color: #ffffff;
  font-size: 14px;
  padding:15px 10px;
  overflow:hidden;
  word-break:keep-all; 
  text-align: left; 
}
.gradientTable tbody td {
  background: #F8F8F8;
  vertical-align:top;
  font-size: 14px;
  padding:8px 10px;
  overflow:hidden;
  word-break:keep-all; 
  border-bottom: 1px solid #28436E;
}
.gradientTable tbody tr:last-child td {
  border-bottom: none;
}
.tbl_tit {
  font-size:16px;
  font-weight: bold;
  color: #80A0D5;
}
.nmaltxt {
	font-size:12px;
}
.gradientTable .smpt {
  margin-top: 5px;
  font-size: 12px;
  color: #80A0D5;
}

.gradientTable tbody tr:hover td {
  background: #FFFDEE;
}
.gradientTable tbody tr:hover td .tbl_tit{
  color: #28436E;
}


#inputTable > table {
  width: 100%;
}
#inputTable > table th {
  text-align: left;
  padding: 0 0 5px 0
}
#inputTable > table td {
  vertical-align: top;
  text-align: left;
  padding: 0 0 20px 0
}


.titleBtn {
  position: relative; 
  margin-top: 40px; 
  margin-bottom:30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E3E3E3;
}
.titleBtn h4 {
  font-size: 24px;
  color: #E3E3E3;
}
.inputButton {
  display:inline-block;
  width: 35px;
  height: 35px;
  background: none;
  border-radius: 4px;
  border: 1px solid #80A0D5;
  color: #80A0D5;  
}
.inputButton:hover {
  background: #80A0D5;
  color: #ffffff;
}





/* 버튼그룹 */
.btn-group {
	display:block;
	position:absolute;
	right:0;
	bottom:-5px;
}
[class^="btn-group"]  li {
	display:inline-block;
	margin-left:10px;
}
.titleBtn .btn-group {
  bottom: 20px;
}
.btn-basic {
	padding:8px 15px;
	font-size:14px;
	color:#538fc7;
	border-radius:5px;
	border:1px solid #538fc7;
	background: #ffffff;
}
.btn-basic:hover {
	color:#ffffff;
	background:#538FC7;
	border-radius:5px;
	border:1px solid #538fc7;
}
.btn-basic:active {
	color:#ffffff;
	background:#4983b9;
	border-radius:5px;
	border:1px solid #4983b9;
}
.btn-basic i {
	margin-right:5px;
}



/* input style*/
input[type="text"],input[type="number"],input[type="password"],select {
	vertical-align:middle;
	border:solid 1px #d0d0d0;
	padding:5px;
	border-radius:5px;
}
input[type="text"],input[type="password"],select {
	height:35px;
	line-height:32px;
	padding:5px 20px;
	font-size:14px;
	color:#7d7d7d;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #7d7d7d;
}
.selectbox select {
	border-radius: 5px;	
	width: 100%;
	color: #7D7D7D;
	-webkit-appearance: none;
	-moz-appearance: none; 
	appearance: none;      
  line-height: 150%; 
  font-size: 16px;
	border: 1px solid #d0d0d0;
	background: url(../images/sel_normal.png) no-repeat 95% 50%;
}
.selectbox:hover select {
	color: #7D7D7D;
	line-height: 150%; 
	border: 1px solid #7D7D7D;	
}








/* 공통클래스 */
.ptcolor { color:#538FC7 !important;}
.circleIcon { border-radius: 50%; border:2px solid #80A0D5; width:62px; height: 62px; display:block; text-align: center; }
.circleIcon i { font-size:37px; color: #80A0D5; display: block; margin-top:10px;}
.cf {
  content:'';
  display:block;
  clear: both;
}
.ir { text-indent: -9999em !important; font-size: 0 !important;}