@font-face {
  font-family: 'smtr';
  src:  url('fonts/smtr.eot?8h4w3f');
  src:  url('fonts/smtr.eot?8h4w3f#iefix') format('embedded-opentype'),
    url('fonts/smtr.ttf?8h4w3f') format('truetype'),
    url('fonts/smtr.woff?8h4w3f') format('woff'),
    url('fonts/smtr.svg?8h4w3f#smtr') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'smtr' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e925";
}
.icon-warning:before {
  content: "\e924";
}
.icon-thumbnail:before {
  content: "\e922";
}
.icon-liststyle:before {
  content: "\e923";
}
.icon-call01:before {
  content: "\e91c";
}
.icon-call02:before {
  content: "\e91d";
}
.icon-call03:before {
  content: "\e91e";
}
.icon-zoom:before {
  content: "\e91f";
}
.icon-message:before {
  content: "\e920";
}
.icon-monitor01:before {
  content: "\e921";
}
.icon-policeman:before {
  content: "\e935";
}
.icon-cs01:before {
  content: "\e942";
}
.icon-Backward-arrow-small:before {
  content: "\e917";
}
.icon-Down-arrow-small:before {
  content: "\e918";
}
.icon-Forward-arrow-small:before {
  content: "\e919";
}
.icon-Options:before {
  content: "\e91a";
}
.icon-Up-arrow-small:before {
  content: "\e91b";
}
.icon-trash:before {
  content: "\e913";
}
.icon-save:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-ico_gear:before {
  content: "\e900";
}
.icon-fireman:before {
  content: "\e901";
}
.icon-crime:before {
  content: "\e902";
}
.icon-diver:before {
  content: "\e903";
}
.icon-test:before {
  content: "\e904";
}
.icon-rescue:before {
  content: "\e905";
}
.icon-ambulance:before {
  content: "\e906";
}
.icon-firefighting:before {
  content: "\e907";
}
.icon-notify:before {
  content: "\e908";
}
.icon-schedule:before {
  content: "\e909";
}
.icon-scenario:before {
  content: "\e90a";
}
.icon-teacher:before {
  content: "\e90b";
}
.icon-receipt:before {
  content: "\e90c";
}
.icon-receive:before {
  content: "\e90d";
}
.icon-student:before {
  content: "\e90e";
}
.icon-man-call:before {
  content: "\e90f";
}
.icon-monitor:before {
  content: "\e910";
}
.icon-laptop:before {
  content: "\e911";
}
.icon-administrator:before {
  content: "\e912";
}
.icon-pencil:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
